#phone{
	/*background-image: url('images/style.jpeg');*/
	overflow: hidden;
}

#screen{
	position: absolute;
	top: 200px;
	left: 107px;
	margin: 0 auto;
	/*background-color: ;#AACF06*/
	/*#9AC503;*/
	background: radial-gradient(circle,#bdf407, #9AC503, #88B511);
	height: 400px;
	width: 600px;
	
	border-radius: 5%;
	border-style:  solid;



}
@font-face{
	font-family: myFirstFont;
	src :url(images/bad-mofo/BadMofo.ttf);
}


.stop-scrolling {
  height: 100%;
  
}


.body{
	
	background-color: black;
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 20%;
	z-index: 10;

	overflow: hidden;
}

#score{
	position: absolute;
	z-index: 10;
	top: -30px;
	left: -4px;
	background: linear-gradient(to right, #88B511, #9AC503, #88B511);
	height: 40px;
	width: 600px;
	color: black;
	font-family: myFirstFont;
	font-size: 40px;
	border-style:  dashed;
}



#head{
	position: absolute;

	background-color: brown;
	height: 20px;
	width: 20px;
	top: 200px;
	left: 200px;
	z-index: 2;
	border-radius: 20%;
	overflow: hidden;
}


.food{
	height : 20px ; 
	width : 20px ;
	background-color: red ;
	z-index: 2 ;
	position: relative;
	top: 100px;
	left: 100px;
	border-radius: 40%;
}

