#phone{
	/*background-image: url('images/style.jpeg');*/
	overflow: hidden;
	/*margin: 0 auto id for the phone*/     
}

#screen{						/*the css for the screen the snake is played on*/
	position: absolute;
	top: 200px;
	left: 107px;
	margin: 0 auto;
	background: radial-gradient(circle,#bdf407, #9AC503, #88B511);
	height: 420px;
	width: 600px;
	border-radius: 5%;
	border-style:  solid;


}

.opacity{
	opacity: 0.3;
}


.park{
	height: 1000px;
	width: 1500px;
	z-index: 0.5;
}

@font-face{						/*downloaded a new font for the text of the game, didnt like any from css, it goes by the name myFirstFont so if seen thisis the font*/
	font-family: myFirstFont;
	src :url(images/bad-mofo/BadMofo.ttf);
}
body{ /*stops the page from scrolling which was an issue when pushing the direction keys*/
	overflow: hidden;

}
.nextThing{			/*body elements for the snake body, this is a weird name*/
	
	background-color: black;
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 20%;
	z-index: 2;

	overflow: hidden;
}

.backgroundScreen{			/*the class for all but one background screen, */
	z-index: 5;
	position: absolute;
	top: 170px;
	left: 107px;
	margin: 0 auto;
	background: radial-gradient(circle,#bdf407, #9AC503, #88B511); /*to it to look like the phone looks like its on*/
	height: 450px;
	width: 600px;
	border-radius: 5%;
	border-style:  solid;
	overflow: hidden;
	text-align: center;
}

.visibility{			/*class to hide a element, used alot for the buttons and the background screens*/
	visibility: hidden;
}




#score{					/*the styling for the score bar and highscore*/
	position: absolute;
	z-index: 4;
	top: -30px;
	left: -4px;
	background: linear-gradient(to right, #88B511, #9AC503, #88B511);
	height: 40px;
	width: 600px;
	color: black;
	font-family: myFirstFont;
	font-size: 40px;
	border-style:  dashed;
}



#head{			/*the css for the div of the head*/
	position: absolute;

	background-color: black;
	height: 20px;
	width: 20px;
	top: 200px;
	left: 200px;
	z-index: 3;
	border-radius: 20%;
	overflow: hidden;
}

.snake-element {		/*body elements for the snake body, i had 2 classes for it because it didnt work*/
	background: black;
	position: absolute;
}


.food{					/*css for the food div */ 
	height : 20px ; 
	width : 20px ;
	background-color: red ;
	z-index: 2 ;
	position: relative;
	top: 100px;
	left: 100px;
	border-radius: 40%;
}

.title{				/*	class for the titles of the screens */
	border-style:  solid;
	background: transparent;
	font-family: myFirstFont;
	text-align:center;
	font-size: 80px;
	height: 100px
	width: 400px;
	margin: 15px ;
}

.menuButton{			/*design for all the menu buttons*/
	border-style:  solid;
	background: transparent;
	font-family: myFirstFont;
	text-align:center;
	font-size: 30px;
	height: 40px ;
	width: 400px;
	margin: 10px auto;
	color: black;
}


#actualInstructions{		/*the single design for the box that wholes all of the instructions*/
	border-style:  solid;
	background: transparent;
	font-family: myFirstFont;
	text-align:center;
	font-size: 25px;
	height: 250px ;
	width: 590px;
	margin: 15px auto;
	color: black;
}

.button{			/*design for the buttons on the settings page*/
	border-style:  solid;
	background: transparent;
	font-family: myFirstFont;
	text-align:center;
	font-size: 30px;
	height: 70px ;
	width: 200px;
	margin: 10px auto;
	margin-right: 20px;
	color: black;
	display: inline-block;
}

.thanking{		/*had to create a seperate class for the thanking everyoen bacause the menu button box was too small*/
	border-style:  solid;
	background: transparent;
	font-family: myFirstFont;
	text-align:center;
	font-size: 30px;
	height: 80px ;
	width: 400px;
	margin: 10px auto;
	color: black;
}




